body {
	font-size: 1.2em;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 25px;
}

textarea, textarea.form-control {
    font-family: monospace;
    font-weight: bold;
    font-size: 1em;
    border: 10px;
}

button#frmtBtn {
    background-color : #0288D1;
    margin-left: 6px;
    margin-bottom: 3px;
    font-size: 10px;
    border:0;
}

button#clrBtn {
    background-color : #0097A7;
    margin-left: 6px;
    margin-bottom: 3px;
    font-size: 10px;
    border:0;
}

button#cpyBtn {
    background-color : #FBC02D;
    margin-left: 6px;
    margin-bottom: 3px;
    font-size: 10px;
    border:0;
}

button#editBtn {
    background-color : #512DA8;
    margin-left: 3px;
    border:0;
}

button#diffBtn {
    background-color : #00796B;
    margin-left: 3px;
    border:0;
}

button#showDiffBtn {
    margin-left: 6px;
    margin-bottom: 3px;
    font-size: 10px;
    border:0;
}

button#twoWayDiffBtn {    
    background-color : #F57C00;
    margin-left: 6px;
    margin-bottom: 3px;
    font-size: 10px;
    border:0;
}

button#threeWayDiffBtn {
    background-color : #F57C00;
    margin-left: 6px;
    margin-bottom: 3px;
    font-size: 10px;
    border:0;
}

p > a {
    color: #314583!important;
}

h3 {
    color: #314583!important;
}

.bg-primary {
    background-color: #314583!important;
}

.CodeMirror-merge, .CodeMirror-merge .CodeMirror {
   margin-top: 15px;
}

.CodeMirror {
    margin-top: 15px;
}
